<!-- views/partials/footer.ejs-->

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Made with 
        <span class="icon has-text-danger">
            <i class="fas fa-heart"></i>
        </span>
        by <a href="https://github.com/shubham1172">shubham1172</a>
        <div class="has-text-right">
            <span class="has-text-grey"> © 2018 Beeter </span>
        </div>
      </p>
    </div>
</footer>