<!-- views/partials/header.ejs -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href = '/'> <strong class='is-size-3 has-text-info' style="padding:20px"> BEETER </strong></a>
    </div>
</nav>