<!-- views/profile.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beeter!</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/fontawesome.js"></script>
    <script defer src="/js/beet.js"></script>
  </head>
  <body>
  <header>
      <%- include('partials/header', {user: user}); %>
  </header>
  <section class="section" style="background-color:#e1e6ee;padding:0">
    <div class="container">
        <div class="columns is-gapless">
            <div class="column is-one-quarter">
                <div class="tile is-child box">
                    <p class="title is-size-5"><%= profile.name %></p>
                    <p class="subtitle is-size-6"> @<%= profile.username %></p>
                    <% if(profile.username == user.username) { %>
                      <!-- Replace this section with edit profile -->
                      <p class="subtitle is-size-6"> Yay, it's you! %></p>
                    <% } %>
                </div>
            </div>
            <div class="column">
                <div class="tile is-child box" id="beets_div">
                  <% for(var i=0; i<beets.length; i++) { %>
                      <%- include('partials/beet', {beet: beets[i]}); %>
                  <% } %>
                </div>
              </div>
        </div>    
    </div>
  </section>
  <footer>
      <% include partials/footer %>
  </footer>
  </body>
</html>