<!-- views/signup.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beeter!</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/fontawesome.js"></script>
  </head>
  <body style="background-color:#e1e6ee">
  <header>
      <%- include('partials/header', {user: null}); %>
  </header>
  <section class="section">
    <div class="containers" id="signup_container">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <div class='title'>
                        Sign up
                    </div>
                    <div class="has-text-danger">
                        <%= error %>
                    </div>
                    <form action="/signup" method="post" id="signup_form">
                        <div class="field">
                            <div class="control">
                                <input name="username" class="input" type="text" placeholder="username">
                                </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input name="name" class="input" type="text" placeholder="full name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input name="password" class="input" type="password" placeholder="password">
                            </div>
                        </div> <br>
                        <div class="field is-grouped">
                        <div class="control">
                            <button form="signup_form" value="Submit" class="button is-info is-rounded">Sign up</button>
                        </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
  </section>
  <footer>
      <% include partials/footer %>
  </footer>
  </body>
  <script>
    if (screen.width > 768) {
        document.getElementById("signup_container").setAttribute("class", "centered-resized")
    }
    window.addEventListener("resize", function() {
        if (screen.width > 768) {
            document.getElementById("signup_container").setAttribute("class", "centered-resized")
        } else {
            document.getElementById("signup_container").removeAttribute("class", "centered-resized")
        }
    });   
  </script>
</html>